@import '../../style/colors.scss';
@import '../../style/devices.scss';

.registrationPage {
    display: flex;
    justify-content: space-around;
    background: #F9F9F9;
    min-height: 100vh;

    @include tablets {
        flex-direction: column-reverse;
    }
}

.registrationPage__entrance {
    color: $contrastBlue;

    @include phones {
        display: none;
    }
}

.registrationPage__entranceText {
    @include phones {
        display: none;
    }
}

.registrationPage__column {
    display: flex;
    align-items: center;

    @include tablets {
        justify-content: center;
    }

    &_left {
        width: auto;

        @include phones {
            padding: 0;
        }
    }
}

.registrationPage__registrationWrapper {
    width: 40rem;
    background: #F9F9F9;

    @include tablets {
        top: -25rem;
        position: relative;
    }

    @include phones {
        width: 100%;
        border-radius: 40px 40px 0 0;
        padding: 2rem;
    }
}

.registrationPage__title {
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
    color: $darkGray;
    margin-bottom: 1.2rem;
}

.registrationPage__label {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $commonBlack;
    margin-bottom: 1.2rem;

    &_checkbox {
        margin-bottom: 0;
    }
}

.registrationPage__descriptionContainer {
    display: flex;
    justify-content: space-between;
}

.registrationPage__description {
    @include phones {
        display: none;
    }
}

.registrationPage__forgotPassword {
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.02em;
    color: $lightBlue;

    @include phones {
        display: none;
    }
}

.registrationPage__descriptionRemember {
    @include phones {
        width: 9.3rem;

        font-style: normal;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.1rem;
        display: flex;
        align-items: center;

        color: $gray;
    }
}

.registrationPage__checkboxWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.registrationPage__checkbox {
    margin-right: 1.6rem;
    width: 2rem;
    height: 2rem;
    background: $commonWhite;
    border: 1px solid rgba(189, 189, 189, 0.7);
    border-radius: 2px;

    @include phones {
        width: 1.3rem;

        background: $commonWhite;

        border: 0.646067px solid rgba(189, 189, 189, 0.7);
        border-radius: 1.29213px;
    }
}

.registrationPage__button {
    height: 3.5rem;
    background: $contrastBlue;
    border-radius: 7px;
    color: $commonWhite;
    width: 100%;

    @include phones {
        background: none;
        border: none;
        border-radius: 0;

        width: 13rem;
        height: 2.6rem;

        font-style: normal;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.6rem;
        display: flex;
        align-items: center;

        color: $commonBlack;
    }
}

.registrationPage__buttonText {
    @include phones {
        margin-right: 8rem;
    }
}

.registrationPage__buttonImage {
    display: none;
    @include phones {
        display: block;
    }
}

.registrationPage__input {
    width: 95%;
    background: $commonWhite;
    border: 1px solid rgba(189, 189, 189, 0.7);
    border-radius: 7px;
    height: 4rem;
    margin-bottom: 2.2rem;
    padding-left: 1.8rem;

    @include phones {
        border: none;
        border-bottom: 1px solid rgba(189, 189, 189, 0.7);
        background: #F9F9F9;
    }
}

.registrationPage__input_bottom {
    @include phones {
        margin: 0 0 1.2rem 0;
    }
}