@import '../../style/colors.scss';

.registrationPage {
    display: flex;
    justify-content: center;
}

.registrationPage__column {
    &_left {
        padding: 14rem 20rem 14rem 15rem;
        width: fit-content;
    }
}

.registrationPage__registrationWrapper {
    width: 40rem;
}

.registrationPage__title {
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
    color: $darkGray;
    margin-bottom: 1.2rem;
}

.registrationPage__label {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $commonBlack;
    margin-bottom: 1.2rem;

    &_checkbox {
        margin-bottom: 0;
    }
}

.registrationPage__descriptionContainer {
    display: flex;
    justify-content: space-between;
}

.registrationPage__forgotPassword {
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.02em;
    color: $lightBlue;
}

.registrationPage__checkboxWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.registrationPage__checkbox {
    margin-right: 1.6rem;
    width: 2rem;
    height: 2rem;
    background: $commonWhite;
    border: 1px solid rgba(189, 189, 189, 0.7);
    border-radius: 2px;
}

.registrationPage__button {
    height: 3.5rem;
    background: #4076ca;
    border-radius: 7px;
    color: $commonWhite;
    width: 100%;
}

.registrationPage__input {
    width: 100%;
    background: $commonWhite;
    border: 1px solid rgba(189, 189, 189, 0.7);
    border-radius: 7px;
    height: 4rem;
    margin-bottom: 2rem;
    padding-left: 1.8rem;
}
