.plantsCatalog {
    width: 120rem;
    margin: 0 auto;
    margin-top: 18rem;
}

.plantsCatalog__plantTitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 7.4rem;
    line-height: 2.8rem;
    display: flex;
    align-items: center;
    color: #333333;
}

.plantsCatalog__plantDescription {
    height: 10rem;
    width: 34rem;
    margin-bottom: 6rem;
}

.plantsCatalog__button {
    
}