.plantsCatalog {
    margin: 0 3rem;
    padding-bottom: 5rem;
}

.detailPlant__plantDescription {
    width: 100%;
}

.plantsCatalog__plantTitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 7.4rem;
    line-height: 2.8rem;
    display: flex;
    align-items: center;
    color: #333333;
}

.plants__link {
    user-select: none;
    cursor: pointer;
}