$commonWhite: #FFFFFF;
$uncommonWhite: #FAFAFA;
$commonBlack: #000000;
$commonGray: #333333;
$darkGray: #181818;
$lightGray: #828282;
$extraLightGray: #F6F6F6;
$lightestGray: #F5F5F5;
$counterStrikeGray: #C4C4C4;

$lightBlue: #4076CA;
$contrastBlue: #0660F4;
$dullBlue: #E0EAFA;

$sand: #EBC750;
$brick: #C84939;
$orange: #FB5A01;
$swampGreen: #0C9D0A;
$lightGreen: #3FC775;

