@import "./devices.scss";

body {
    margin: 0;
    width: auto;
}

.container {
    width: 120rem;

    &_flex {
        display: flex;
    }
}

.hide {
    display: none;
}

.hideOnDesktop {
    display: none;
}