@import '../../style/colors.scss';

.profileNotifications__wrapper {
    width: 360px;
    margin: 0 96px 0 0;

    background: $commonWhite;
    border-radius: 18px;
}

.profileNotifications__title {
    width: 88px;
    margin: 37px 0 26px 28px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;

    display: flex;
    align-items: center;

    color: $commonGray;
}

.profileNotifications__notification {
    margin: 0 0 16px 32px;

    &_bottom {
        margin: 0 0 32px 32px;
    }
}

.profileNotifications__notificationText {
    display: flex;
    align-content: space-around;
}

.profileNotifications__notificationTextTitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;

    display: flex;
    align-items: center;

    color: #000000;
}

.profileNotifications__notificationTextAdditions {
    display: flex;
}

.profileNotifications__notificationTextAdditionsPoint {

}

.profileNotifications__notificationTextAdditionsT