@import '../../style/colors.scss';

.profileNotifications__wrapper {
    width: 360px;
    margin: 0 96px 0 0;

    background: $commonWhite;
    border-radius: 18px;
}

.profileNotifications__title {
    width: 88px;
    margin: 37px 0 26px 28px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;

    display: flex;
    align-items: center;

    color: $commonGray;
}