@import '../../style/colors.scss';
@import '../../style/devices.scss';

.profileBio {
    width: 22rem;

    @include laptops {
        width: 22rem;
    }
}

.profileBio__fixedWrapper {
    display: flex;
    flex-direction: column;
    padding: 2.2rem;
    background: $commonWhite;
    border-radius: 19px;
    max-width: 22rem;
    position: fixed;
}

.profileBio__wallImage {
    width: 100%;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 9px;
}

.profileBio__userDataWrapper {
    display: flex;
    position: relative;
    top: -2rem;
    margin-bottom: 3.6rem;
    margin-top: 2rem;

    @include laptops {
        margin-bottom: 0;
    }
}

.profileBio__userPhoto {
    width: 6.4rem;
    height: 6.4rem;
    background: #C4C4C4;
    border: 5px solid #FFFFFF;
    margin-right: 1.5rem;
}

.profileBio__userTextContainer {
    display: flex;
    flex-direction: column;
}

.profileBio__userName {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 135%;
    color: $darkGray;
}

.profileBio__userStatus {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;
    color: $lightGray;
}

.profileBio__statsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.5rem;

    @include laptops {
        margin-bottom: 1.5rem;
    }

    @include tablets {
        flex-direction: column;
    }
}

.profileBio__statsItem {
    width: 6.4rem;
    font-size: 1.4rem;
    /*line-height: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include laptops {
        width: 100%;
    }
}

.profileBio__statsItemData {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    color: $commonBlack;
}

.profileBio__statsItemDescription {
    font-weight: 400;
    font-size: 1rem;
    color: $lightGray;
}

.profileBio__achievementsBlock {
    margin-bottom: 5rem;

    @include laptops {
        margin-bottom: 3rem;
    }
}

.profileBio__achievements {
    display: flex;
    flex-wrap: wrap;
}

.profileBio__achievementsItem {
    background: $extraLightGray;
    border-radius: 10.5px;
    margin-right: 0.6rem;
}

.profileBio__achievementsItemTitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    /*line-height: 100%;*/
    display: flex;
    align-items: center;
    text-align: center;
    color: $commonBlack;
    margin-bottom: 1.8rem;
}

.profileBio__activityBlock {
    margin-bottom: 3rem;

    @include laptops {
        display: none;
    }
}

.profileBio__activityTitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    /*line-height: 100%;*/
    display: flex;
    align-items: center;
    color: $commonBlack;
    margin-bottom: 3rem;
}

.profileBio__activitySlidersContainer {
    display: flex;
    justify-content: space-between;
}

.profileBio__activitySlider {
    background: $extraLightGray;
    border-radius: 17px;
}

.profileBio__buttonStart {
    border: 2px solid $contrastBlue;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    border-radius: 7px;
    margin: 0 auto;
    background-color: $commonWhite;
    cursor: pointer;
}

.profileBio__buttonStartText {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: $contrastBlue;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 1rem;
}