@import '../../style/colors.scss';

.profilePage {
    display: flex;
    gap: 2rem;
}

.profilePage__collumn {
    &_left {
        width: 50rem;
    }

    &_center {
        margin-left: 30rem;
        width: 30rem;
    }
}