@import '../../style/colors.scss';
@import '../../style/devices.scss';

.profilePage {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;

    @include phones {
        margin: 0;
    }
}

.profilePage__collumn {
    &_center {
        min-width: 25rem;
        @include laptops {
            width: fit-content;
        }
    }
}