@import '../../style/colors.scss';

.profileData__calendar {
    /*width: 36rem;*/
    /*margin: 0 10rem 3rem 0;*/
}

.profileData__calendarMonthYear {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 100%;

    display: flex;
    align-items: center;

    color: $commonGray;
}

.profileData__calendarWrapper {
    /*width: 31rem;*/
    /*margin: 0 2rem 2rem 3rem;*/

    display: flex;
}

.profileData__calendarDay {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    /*line-height: 100%;*/
    height: 6.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 0.2rem;
    color: $commonBlack;

    &_active {
        padding: 0 0.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: $commonWhite;
        background: $contrastBlue;
        justify-content: center;

        .profileData__calendarDayData  {
            color: $commonWhite;
        }
    }
}

.profileData__calendarDayData {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    /*line-height: 100%;*/

    display: flex;
    align-items: center;
    text-align: center;

    color: $commonBlack;
}

.profileData__calendarDayPoints {
    &_activeSand {
        background: $sand;
    }

    &_activeBrick {
        background: $brick;
    }

    &_activecontrastBlue {
        background: $contrastBlue;
    }
}

.profileData__line {
    /*width: 29rem;*/
    margin: 0 3rem 3rem 3rem;

    border: 2px solid;
    border-color: $lightestGray;
}

.profileData__timetableWrapper {
    /*width: 31rem;*/
    /*margin: 0 3rem 3rem 3rem;*/
}

.profileData__timetableTitle {
    /*margin: 0 0 3rem 3rem;*/

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /*line-height: 100%;*/

    display: flex;
    align-items: center;

    color: $commonGray;
}

.profileData__timetableTask {
    /*width: 30rem;*/
    /*margin: 0 2.4rem 1.8rem 4.2rem;*/
    display: flex;
    flex-direction: row;
    align-items: center;

    &_bottom {
        /*margin: 0 2.4rem 2.4rem 4.2rem;*/
    }
}

.profileData__timetableTaskDateWrapper {
    width: 3rem;
    margin: 0 2rem 1.8rem 0;
}

.rpofileData__timetableTaskDate {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100%;

    display: flex;
    align-items: center;
    text-align: center;

    color: $gray;
}

.profileData__timetableTaskMain {
    display: flex;
    /*width: 25rem;*/

    background: $uncommonWhite;
    border-radius: 7px;
}

.profileData__timetableTaskMainLine {
    width: 0;
    height: 3rem;
    /*margin: 2rem 1.6rem 2rem 1.2rem;*/

    border: 2px solid;

    &_orange {
        border-color: $orange;
    }

    &_blue {
        border-color: $contrastBlue;
    }

    &_green {
        border-color: $swampGreen;
    }
}

.profileData__timetableTaskMainTitle {
    /*margin: 1.6rem 0 2rem 0;*/
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    /*line-height: 100%;*/
    display: flex;
    align-items: center;
    color: $commonGray;
}

.profileData__timetableTaskMainProgress {
    /*width: 20rem;*/
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    /*line-height: 100%;*/
    display: flex;
    align-items: center;

    color: $lightGray;
}

.profileData__timetableTaskMainMore {
    width: 15rem;
    margin: 0 10rem 3.6rem 10rem;

    background: $dullBlue;
    border-radius: 7px;
}
